<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chaptertitle</key>
		<string>开始</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>幸福的追问</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>祖先的一棍</string>
		<key>id</key>
		<string>3</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>总胜过从未碰头</string>
		<key>id</key>
		<string>4</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>这个缺点好啊！</string>
		<key>id</key>
		<string>5</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>怎见得你爱我？</string>
		<key>id</key>
		<string>6</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>在掌心里，在子宫里</string>
		<key>id</key>
		<string>7</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>再过一万年之后</string>
		<key>id</key>
		<string>8</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>再唱一支骊歌</string>
		<key>id</key>
		<string>9</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>原谅，也是讲条件的</string>
		<key>id</key>
		<string>10</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>原来没有离开</string>
		<key>id</key>
		<string>11</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>愈吃愈寂寞</string>
		<key>id</key>
		<string>12</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>星期五晚的月光</string>
		<key>id</key>
		<string>13</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>有一天，你会舍得</string>
		<key>id</key>
		<string>14</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>永远不会实现的</string>
		<key>id</key>
		<string>15</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>已经走到灯火阑珊处</string>
		<key>id</key>
		<string>16</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>一双袜子的爱</string>
		<key>id</key>
		<string>17</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>一生最重要的两个字</string>
		<key>id</key>
		<string>18</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>一个不想他的姿势</string>
		<key>id</key>
		<string>19</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>一个不完美的身体</string>
		<key>id</key>
		<string>20</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>一次恨个够</string>
		<key>id</key>
		<string>21</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>一辈子饮恨</string>
		<key>id</key>
		<string>22</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>幸好他没有死</string>
		<key>id</key>
		<string>23</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>幸福总被思念所淹没</string>
		<key>id</key>
		<string>24</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>幸福就是报复</string>
		<key>id</key>
		<string>25</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>爱，总是有条件的</string>
		<key>id</key>
		<string>26</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>爱情是不能报复的</string>
		<key>id</key>
		<string>27</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>把五个字留给女人</string>
		<key>id</key>
		<string>28</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>爸爸的味道</string>
		<key>id</key>
		<string>29</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>补鞋匠的夏天</string>
		<key>id</key>
		<string>30</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>不变心的情人</string>
		<key>id</key>
		<string>31</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>不辞而别的年代</string>
		<key>id</key>
		<string>32</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>不对等的热情</string>
		<key>id</key>
		<string>33</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>不要在乎他</string>
		<key>id</key>
		<string>34</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>单身男人不是双人床</string>
		<key>id</key>
		<string>35</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>粗糙的告别</string>
		<key>id</key>
		<string>36</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>到了夏天我就离开</string>
		<key>id</key>
		<string>37</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>都是看在爱情的份上</string>
		<key>id</key>
		<string>38</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>放弃了就不要可惜</string>
		<key>id</key>
		<string>39</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>隔着厚厚的毛衣拥抱</string>
		<key>id</key>
		<string>40</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>跟自己厮守</string>
		<key>id</key>
		<string>41</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>故乡的味道</string>
		<key>id</key>
		<string>42</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>后悔有什么不好</string>
		<key>id</key>
		<string>43</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>后面的偶然相遇</string>
		<key>id</key>
		<string>44</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>回忆里的他</string>
		<key>id</key>
		<string>45</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>回忆那深深的波影</string>
		<key>id</key>
		<string>46</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>接吻的处境</string>
		<key>id</key>
		<string>47</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>就当是修辞学吧</string>
		<key>id</key>
		<string>48</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>鞠躬离场，微笑道别</string>
		<key>id</key>
		<string>49</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>可爱与可恨</string>
		<key>id</key>
		<string>50</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>可以只是拥抱吗</string>
		<key>id</key>
		<string>51</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>另一个男人的作用</string>
		<key>id</key>
		<string>52</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>楼梯是长还是短</string>
		<key>id</key>
		<string>53</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>妈妈，不要追问</string>
		<key>id</key>
		<string>54</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>没有我你闷不闷</string>
		<key>id</key>
		<string>55</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>美丽的约定</string>
		<key>id</key>
		<string>56</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>妹妹恋爱了</string>
		<key>id</key>
		<string>57</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>抹掉旧纪录</string>
		<key>id</key>
		<string>58</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>某年某天某地</string>
		<key>id</key>
		<string>59</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>那些年轻羞涩的日子</string>
		<key>id</key>
		<string>60</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>男女有别之自由身</string>
		<key>id</key>
		<string>61</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>男朋友的学历</string>
		<key>id</key>
		<string>62</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>男人为什么害怕承诺</string>
		<key>id</key>
		<string>63</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>男人用法一百种</string>
		<key>id</key>
		<string>64</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>你不必征求我同意</string>
		<key>id</key>
		<string>65</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>你会爱我多久？</string>
		<key>id</key>
		<string>66</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>你会否不再需要我？</string>
		<key>id</key>
		<string>67</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>你就相信吧</string>
		<key>id</key>
		<string>68</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>你什么时候想家？</string>
		<key>id</key>
		<string>69</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>你喜欢我什么？</string>
		<key>id</key>
		<string>70</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>你要冷静多久？</string>
		<key>id</key>
		<string>71</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>年龄可以是这样</string>
		<key>id</key>
		<string>72</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>女人的毛病</string>
		<key>id</key>
		<string>73</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>女人的特权</string>
		<key>id</key>
		<string>74</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>怕得到他，怕失掉他</string>
		<key>id</key>
		<string>75</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>跑不到终点的小说</string>
		<key>id</key>
		<string>76</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>朋友比不上敌人</string>
		<key>id</key>
		<string>77</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>朋友是用来看不起的</string>
		<key>id</key>
		<string>78</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>贫穷的赌徒</string>
		<key>id</key>
		<string>79</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>其实不是太坏</string>
		<key>id</key>
		<string>80</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>请你不要太快放弃我</string>
		<key>id</key>
		<string>81</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>人有重量真好</string>
		<key>id</key>
		<string>82</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>三十一岁与二十三岁</string>
		<key>id</key>
		<string>83</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>山盟海誓，也要有本事</string>
		<key>id</key>
		<string>84</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>十八到二十四岁</string>
		<key>id</key>
		<string>85</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>十六岁与十九岁的轻愁</string>
		<key>id</key>
		<string>86</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>十年生命的誓言</string>
		<key>id</key>
		<string>87</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>时间使人忘记爱情</string>
		<key>id</key>
		<string>88</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>时间使人忘记梦想</string>
		<key>id</key>
		<string>89</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>书和人的回甘</string>
		<key>id</key>
		<string>90</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>数花瓣，数钞票……</string>
		<key>id</key>
		<string>91</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>思念里的流浪狗</string>
		<key>id</key>
		<string>92</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>他会变成一个怎样的男人？</string>
		<key>id</key>
		<string>93</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>他有没有伤害了你？</string>
		<key>id</key>
		<string>94</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>讨厌……但是为什么？</string>
		<key>id</key>
		<string>95</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>天上的星星到底有几多？</string>
		<key>id</key>
		<string>96</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>万物有时，爱情也有时</string>
		<key>id</key>
		<string>97</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>为了那里的柠檬</string>
		<key>id</key>
		<string>98</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>为你唱一支骊歌</string>
		<key>id</key>
		<string>99</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>为他留一盏暖的灯</string>
		<key>id</key>
		<string>100</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>我不会爱上你</string>
		<key>id</key>
		<string>101</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>我会打电话给你</string>
		<key>id</key>
		<string>102</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>我们毕竟相隔了天涯</string>
		<key>id</key>
		<string>103</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>我们曾经相似吗？</string>
		<key>id</key>
		<string>104</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>我要成为你书中的男人</string>
		<key>id</key>
		<string>105</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>我最爱的人是你</string>
		<key>id</key>
		<string>106</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>喜欢你才诅咒你</string>
		<key>id</key>
		<string>107</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>幸福的追问</string>
		<key>id</key>
		<string>108</string>
	</dict>
</array>
</plist>
