<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>styleversionengine</key>
	<integer>12</integer>
	<key>skinindex</key>
	<integer>1</integer>
	<key>bundlename</key>
	<string>AdvanceBookReadingImage.bundle</string>
	<key>maxskincount</key>
	<integer>6</integer>
	<key>bookBounds</key>
	<string>14, 30, 295, 50|15, 20, 50, 310|30,55, 710, 65|10, 20,1024 ,110</string>
	<key>fonttypeindex</key>
	<integer>0</integer>
	<key>pagetypeindex</key>
	<integer>2</integer>
	<key>maxshowcount</key>
	<string>3</string>
	<key>fonttype</key>
	<array>
		<string>FZLTHJW--GB1-0|方正兰亭黑体</string>
		<string>XinGothic-CiticPress-Regular|信黑体</string>
		<string>FZLTKHK--GBK1-0|方正刊黑体</string>
	</array>
	<key>publicksettings</key>
	<dict>
		<key>textFont</key>
		<string>35,23,4-49,42,32-19,54,55-33,44,34-88,88,88-57,64,60|19,23</string>
		<key>titleFont</key>
		<string>130,109,70-160,150,136-94,134,133-127,153,130-165,165,165-45,45,45|12,15</string>
		<key>footFont</key>
		<string>130,109,70-160,150,136-94,134,133-127,153,130-165,165,165-45,45,45|10,14</string>
		<key>booknameFont</key>
		<string>78,78,78-122,84,30-28,28,28-93,72,50-137,106,92-143,112,75|20,22</string>
		<key>chaptertitleFont</key>
		<string>0,0,0-44,41,36-0,0,0-111,91,78-47,26,1-47,26,1|15,16</string>
		<key>pageviewbackgroung</key>
		<string>%@/%@-%@-background-%d.png</string>
		<key>navigationgoback</key>
		<string>%@/%@-%@-bookreading-Navigation-goback-%d-%@.png</string>
		<key>navigationcatalog</key>
		<string>%@/%@-%@-bookreading-Navigation-Catalog-%d-%@.png</string>
		<key>navigationsetup</key>
		<string>%@/%@-%@-bookreading-Navigation-setup-%d-%@.png</string>
		<key>navigationbookmark</key>
		<string>%@/%@-%@-bookreading-Navigation-bookmark-%d-%@.png</string>
		<key>navigationbookmarked</key>
		<string>%@/%@-%@-bookreading-Navigation-bookmark-down.png</string>
		<key>navigationbookpagination</key>
		<string>%@/%@-%@-bookreading-pagination.png</string>
		<key>navigationbookpaginationindex</key>
		<string>%@/%@-%@-bookreading-pagination-%d.png</string>
		<key>navigationbookxudu</key>
		<string>%@/%@-%@-bookreading-catalog-xudu-%d-%@.png</string>
		<key>navigationbookshuku</key>
		<string>%@/%@-%@-bookreading-catalog-shuku-%d-%@.png</string>
		<key>navigationbookneirong</key>
		<string>%@/%@-%@-bookreading-catalog-neirong-%d-%@.png</string>
		<key>navigationbookshuqian</key>
		<string>%@/%@-%@-bookreading-catalog-shuqian-%d-%@.png</string>
		<key>navigationbookhengxian</key>
		<string>%@/%@-%@-bookreading-catalog-hengxian-%d.png</string>
		<key>tooldescription</key>
		<string>%@/%@-%@-bookreading-tool.png</string>
	</dict>
	<key>New item</key>
	<string></string>
	<key>pageisdouble</key>
	<false/>
	<key>autofollow</key>
	<false/>
	<key>memusettings</key>
	<dict>
		<key>New item</key>
		<false/>
		<key>memubackground</key>
		<string>%@/iphone-v-bookreading-settting-background.png</string>
		<key>memubackground1</key>
		<string>%@/iphone-v-bookreading-settting-background-1.png</string>
		<key>memubackground2</key>
		<string>%@/iphone-v-bookreading-settting-background-2.png</string>
		<key>slider1</key>
		<string>%@/iphone-v-bookreading-Slide-1.png</string>
		<key>slider2</key>
		<string>%@/iphone-v-bookreading-Slide-2.png</string>
		<key>slider3</key>
		<string>%@/iphone-v-bookreading-Slide-3.png</string>
		<key>moon</key>
		<string>%@/iphone-v-bookreading-icon-moon.png</string>
		<key>sun</key>
		<string>%@/iphone-v-bookreading-icon-sun.png</string>
		<key>filp1</key>
		<string>%@/iphone-v-bookreading-button-filp-1.png</string>
		<key>filp2</key>
		<string>%@/iphone-v-bookreading-button-filp-2.png</string>
		<key>filp3</key>
		<string>%@/iphone-v-bookreading-button-filp-3.png</string>
		<key>filp4</key>
		<string>%@/iphone-v-bookreading-button-filp-checkedbackground.png</string>
		<key>resetdefualt</key>
		<string>%@/iphone-v-bookreading-setting-button-defualt-%@.png</string>
		<key>skinimage</key>
		<string>%@/iphone-v-bookreading-setting-button-%d-%@.png</string>
		<key>fontbackground</key>
		<string>%@/iphone-v-bookreading-button-fontbackground-%@.png</string>
		<key>smallfont</key>
		<string>%@/iphone-v-bookreading-button-smallfont-%@.png</string>
		<key>bigfont</key>
		<string>%@/iphone-v-bookreading-button-bigfont-%@.png</string>
	</dict>
</dict>
</plist>
